body {
  font-family: "Albert Sans", sans-serif;
  margin: 0;
  background-color: #292525;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

#logo{
    display: flex;
    justify-content: center;
    animation: logo 5s 1;
}

@keyframes logo{
    0%{
        transform: translate(-150px, -75px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

#logo a {
  text-decoration: none;
}

/* header #Dumi{
    rotate: -30deg;
    animation: Dumi 5s 1;
}

@keyframes Dumi{
    0%{
        transform: translate(50px, 25px);
    }
    100%{
        transform: translate(0px, 50px);
    }
}

header #Cat{
    rotate: -30deg;
    animation: Cat 5s 1;
}

@keyframes Cat{
    0%{
        transform: translate(-100px, 25px);
    }
    100%{
        transform: translate(0px, -50px);
    }
} */

#logo img {
  width: 125px;
  }

header ul {
  display: flex;
}

header li {
  margin-left: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header a:hover {
  color: rgb(239, 150, 42);
  text-decoration: underline;
}

footer {
  background-color: #131212;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

footer li {
  padding: 5px;
  text-decoration: none;
  margin: 0 50px;
}

footer li a {
  text-decoration: none;
  color: rgb(175, 175, 175);
}

footer li a:hover {
  color: rgb(255, 255, 255);
}

footer img {
  width: 100px;
  margin: 0 50px;
}
