body {
  font-family: "Albert Sans", sans-serif;
  margin: 0;
  background-color: #292525;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

#logo{
    display: flex;
    justify-content: center;
    animation: logo 5s 1;
}

#logo a {
  text-decoration: none;
}

#logo img {
  width: 125px;
  }

header ul {
  display: flex;
}

header li {
  margin-left: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header a:hover {
  color: rgb(239, 150, 42);
  text-decoration: underline;
}

footer {
  background-color: #131212;
  display: flex;
  justify-content: space-evenly; 
  align-items: flex-start;      
  padding: 40px 20px;            
  width: 100%;
  box-sizing: border-box;

}

footer ul {
  text-align: left; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

footer li {
  margin: 0;  
  padding: 0;
  display: block;
}

footer li a {
  text-decoration: none;
  color: rgb(175, 175, 175);
  font-size: 16px; 
  transition: color 0.3s;
}

footer li a:hover {
  color: #f28c0f; 
}

footer li p {
  margin: 0; 
  color: rgb(175, 175, 175);
  font-size: 16px;
  line-height: 1.5; 
}

footer img {
  width: 100px;
  align-self: center; 
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        position: relative; 
    }
    
    footer ul {
        text-align: center;
    }
}